<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id="CesiumContainer"></div>
    <script src="/javascripts/dist/vendor.js"></script>
    <script src="/javascripts/dist/index.js"></script>

</body>

</html>